.body {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}

.popup {
    display: none;
    width: 100%;
    height: 300px;
    background-color: orange;
    border-radius:20px;
}

@media (max-width: 1024px) {
    .popup {
        width: 1024px;
    }
}

@media (max-width: 768px) {
    .popup {
        width: 768px;
    }
}

@media (max-width: 375px) {
    .popup {
        width: 375px;
    }
}